* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    font-size: 14px;
}

/* white theme */
html {
    --bg-slider: #f5f6f7;
    --bg: #eeeeeed8;
    --color-text: #9c9c9c;
    --banner: #3d3d3d;
    --color-shadow: -4px -2px 4px 0 #ffffff,
                    4px 2px 6px 0 #dfe4ea;
    --color-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.45);
    --color-inset-shadow: inset -2px -2px 6px rgba(255, 255, 255, 0.8),
                        inset 2px 2px 6px rgba(0, 0, 0, 0.1);
    --color-around-image: 4px solid #dcdfe2;
    --color-slider: #ececec;
    --color-music-list-header: #b9b9b9;
    --color-list-border: 1px solid #e5e5e5;
}

html[data-theme='dark'] {
    --bg-slider: #272727;
    --bg: #272727c9; 
    --color-text: #e2e2e2;
    --banner: #fefefe;
    --color-shadow: -3px -3px 10px rgba(255, 255, 255, 0.05),
                    3px 3px 15px rgba(0, 0, 0, 0.5);
    --color-inset-shadow: inset -2px -2px 6px rgba(255, 255, 255, 0.01),
                        inset 2px 2px 6px rgba(0, 0, 0, 0.8);
    --color-around-image: 4px solid #1a1a1a;
    --color-slider: #636363;
    --color-music-list-header: #636363;
    --color-list-border: 1px solid #636363;
}

body {
    background: var(--bg);
    color: var(--color-text);
    overflow: hidden;
}

a {
    text-decoration: none;
}

#bg-image img{
    width: 105%;
    height: 105vh;
    position: absolute;
    filter: blur(6px);
    -webkit-filter: blur(5px);
    top: -5px;
}

#blackLayer {
    height: 105vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.404);
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
}

.player {
    width: 80%;
    min-height: 550px;
    max-width: 300px;
    padding: 3rem 1.25rem;
    margin: 2rem auto;
    background: var(--bg);
    box-shadow: var(--color-box-shadow);
    border-radius: 15px;
    position: relative;
    overflow: hidden;
    z-index: 3;
}

.header {
    height: 40px;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

.header > .button {
    width: 2rem;
    height: 2rem;
    display: grid;
    justify-items: center;
    align-items: center;
    background: var(--bg);
    box-shadow: var(--color-shadow);
    border-radius: 5px;
}

#more-music {
    cursor: pointer;
}

label {
    cursor: pointer;
}

input[type="checkbox"] {
    -webkit-appearance: none;
}

.music-list {
    position: absolute;
    left: 0;
    bottom: -59.7%;
    opacity: 0;
    pointer-events: none;
    background: var(--bg-slider);
    border-radius: 15px;
    box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    padding: 15px 30px;
    transition: all 0.14s ease-out;
    z-index: 1;
}

.show {
    bottom: 0;
    opacity: 1;
    pointer-events: auto;
    z-index: 7;
}

.music-list-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--color-music-list-header);
}

.music-list .music-list-header .row {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 1.1rem;
}

.music-list-header .row i {
    cursor: default;
}

.music-list-header .fa-times {
    font-size: 15px;
    cursor: pointer;
}

.music-list-header .row span {
    margin-left: 5px;
}

.music-list ul {
    margin: 10px 0;
    max-height: 280px;
    overflow-y: auto;
}

.music-list ul::-webkit-scrollbar {
    width: 0px;
}

.music-list li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    border-bottom: var(--color-list-border);
    padding-bottom: 10px;
    margin-bottom: 5px;
    cursor: pointer;
}

.music-list li:last-child {
    border-bottom: none;
}

.music-list li span {
    font-size: 0.9rem;
}

.music-list li p {
    font-size: 0.9rem;
    opacity: 0.5;
}

.music-list li .audio-duration {
    font-size: 0.85rem;
}

ul li.playing {
    color: #ed78f8;
    pointer-events: none;
}

.music-list li .fa-play-circle {
    padding-top: 10px;
    font-size: 30px;
    display: block;
}

.music-list li.playing .fa-play-circle {
    display: none;
}

.music-list li .fa-pause-circle {
    display: none;
}

.music-list li.playing .fa-pause-circle {
    padding-top: 10px;
    font-size: 30px;
    display: block;
}

.image {
    display: block;
    width: 175px;
    height: 175px;
    object-fit: cover;
    margin: 1rem auto;
    border-radius: 50%;
    border: var(--color-around-image);
    box-shadow: var(--color-shadow);
    animation: rotate 20s linear infinite;
    animation-play-state: paused;
    bottom: 0;
    left: 0;
}

.imageContainer::after {
    content: '';
    background-color: var(--bg);
    height: 40px;
    width: 40px;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    bottom: 59%;
    transform: translate(-50%, -50%);
}

.image.play {
    animation-play-state: running;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.information {
    margin: 1.5rem 0;
    text-align: center;
}

.information h1 {
    color: var(--color-text);
    font-weight: 500;
    margin-bottom: 0.5rem;
}

.information p {
    color: var(--color-text);
    font-size: 1rem;
}

.progress {
    padding: 10px 0;
}

.progress-time {
    padding: 10px 5px;
    color: var(--color-text);
    font-weight: bold;
    display: flex;
    justify-content: space-between;
}

.progress-time > p {
    font-size: 0.65rem;
}

.progress-bar {
    height: 6px;
    width: 100%;
    background-color: var(--color-slider);
    border-radius: 50px;
    cursor: pointer;
}

.seekslider {
    height: inherit;
    width: 0%;
    border-radius: inherit;
    background: linear-gradient(90deg, #ff74a4 0%, #9f6ea3 100%);
    position: relative;
}

.seekslider::before {
    content: '';
    position: absolute;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    background: inherit;
    opacity: 0;
    transition: opacity 0.2s ease;
    right: -5px;
}

.progress-bar:hover .seekslider::before {
    opacity: 1;
}

.buttons {
    margin: 0.2rem 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.button {
    color: var(--color-text);
    border-radius: 50%;
    margin: 0 5px;
    box-shadow: var(--color-shadow);
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-sm {
    width: 2rem;
    height: 2rem;
    opacity: 0.75;
}

.button-md {
    width: 2.5rem;
    height: 2.5rem;
    opacity: 0.85;
}

.button-lg {
    width: 3.25rem;
    height: 3.25rem;
    opacity: 1;
}

.playPause.active {
    box-shadow: var(--color-inset-shadow);
}

.shuffle:active,
.next:active,
.prev:active,
.loop.active {
    box-shadow: var(--color-inset-shadow);
}

.playPause .fa-play {
    display: block;
}

.playPause .fa-pause {
    display: none;
}

.playPause.active .fa-play {
    display: none;
}

.playPause.active .fa-pause {
    display: block;
}

#volume-container {
    position: relative;
    width: 100%;
    height: 15px;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

#volume-container .fa-volume-mute {
    font-size: 18px;
    color: var(--color-text);
    padding-right: 5px;
    cursor: pointer;
}

#volume-container .fa-volume-up {
    font-size: 18px;
    color: var(--color-text);
    padding-left: 5px;
}

#volume-container .fa-volume-down {
    font-size: 18px;
    color: var(--color-text);
    padding-left: 5px;
}

#volume-up-btn {
    display: block;
}

#volume-md-btn {
    display: none;
}

#volume-up-btn.volume-down {
    display: none;
}

#volume-md-btn.volume-down {
    display: block;
}

.slider {
    width: 110px;
    height: 3px !important;
    -webkit-appearance: none;
    border-radius: 10px;
    background-color: var(--bg-slider);
    outline: none;
    position: relative;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--color-text);
    cursor: pointer;
    outline: none;
    transform: scale(1);
}

.slider.active::-webkit-slider-thumb {
    transform: scale(1.2);
    width: 12px;
    height: 12px;
}

